body{
    background-color: #f9e9cd;
}

h1{
    font-size: 25px;
}

a:link{
    color: lightblue;
}

a:visited{
    color: #ee4866;
}

a:hover{
    color: #22a2c3;
    text-decoration-line: underline;
}

a:active{
    color: blue;
}

a{
    text-decoration-line: none;
    font-size: 20px;
    text-decoration: wavy;
}
